html
  head
    //link(rel='stylesheet', href='main.css')
  body.container-fluid
    div.col
      p.highlight.bold This is a index jade.
      div.col
        a(href='https://google.com') Google
        div#app.col
        footer.navbar-fixed-bottom &copy; daggerok
